
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        <img src="./img/logo.png" width="150" alt="">
    </a>
    <div class = "btn-group">
        <a href="/logout" class = "btn btn-primary btn-md">Logout </a>
        <a href="/reservation.html" class = "btn btn-primary btn-md">Book Trip </a>
        <a href="/account.html" class = "btn btn-primary btn-md">My Account</a>
        <a href="/payment.html" class = "btn btn-primary btn-md">Payments</a>
    </div>
</nav>
</body>